body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.86)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table {
  text-align:left;
  border : 1px solid blue;
  background-color: rgba(0, 0, 255, 0.22);
  width:30%;
}
ol{

  border-radius:10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
}
li{

  padding:5px!important;
  text-decoration: none;
  border:1px solid black;
  width:300px;
  text-align:left;
  padding-left:20px!important;
  cursor:pointer;
}
.item:hover{
  background-color: rgba(118, 255, 118, 0.45) !important;
  transition : .3s;
}
.selected{
  background-color : rgba(109, 234, 109, 0.56);
}
.select{
  width: 300px;
  height:100px;
  position:absolute;
  top:0;
  right:0;
  z-index:100;
}

.flexRow{
  display:flex;
  flex-flow: row;
}
.flexCol{
  display: flex;
  flex-flow:column;
}

.m12{
  width:100%;
}
.m6{
  width:50%;
}
.text-left{
  text-align:left;
}
.p1{
  padding:25px;
}
.p2{
  padding:50px;
}
.p3{
  padding:75px;
}
.p4{
  padding:100px;
}
.p5{
  padding:125px;
}
.m2{
  margin: 10px;
}
.m8{
  width:70%;
}
.hash{
  width:25%;
  height: 30px;
  border: 1px solid rgba(0, 0, 255, 0.39);
  background-color: rgba(0, 0, 255, 0.39);
  padding:10px;
  border-radius: 10px;
}
.hashTable{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 50px;
}
